<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AirlineTwitterDataCollection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AirlineTwitterDataCollection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="EDMX" connectionString="metadata=res://*/TwitterModel.csdl|res://*/TwitterModel.ssdl|res://*/TwitterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xxx;initial catalog=TwitterDataCollection;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <AirlineTwitterDataCollection.Properties.Settings>
      <setting name="UserAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="UserAccessSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
    </AirlineTwitterDataCollection.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AirlineTwitterDataCollection.Properties.Settings>
      <setting name="ConsumerKey" serializeAs="String">
        <value>ck</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>cs</value>
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value>at</value>
      </setting>
      <setting name="AccessSecret" serializeAs="String">
        <value>as</value>
      </setting>
      <setting name="UseAccessPair" serializeAs="String">
        <value>True</value>
      </setting>
    </AirlineTwitterDataCollection.Properties.Settings>
  </applicationSettings>
</configuration>